<h4>Collaborators</h4>
<ul>
    <% @article.collaborators.each do |collaborator| %>
	    <li>
			<h4><%= collaborator.user.email %> <%= link_to "", "/articless/#{@article.id}/collaborators/#{collaborator.id}", method: :delete, class: 'glyphicon glyphicon-remove' %> </h4>
		</li>
	<% end %>
</ul>